@import "./animation";

:root {
  --width: 1024px;
  --height: 650px;
  --timing: 750ms;
  --radius: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #250909 67.5%, #4F193F 100%) no-repeat;
  height: 100vh;
}


.container {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
  perspective: 1000px;
  transform-style: preserve-3d;

  header {
    width: 100%;
    max-width: var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;

    #info {
      outline: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    .feather {
      color: #ff2929;

    }
  }
}

.brand {
  background-image: url('public/assets/Stranger-Things-Logo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  height: 50px;
}

.card {


  width: 100%;
  min-width: 800px;
  max-width: var(--width);
  height: 100%;
  min-height: 600px;
  max-height: var(--height);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  border-radius: var(--radius);
  background-color: transparent;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: transform 0.5s ease-in-out;
  animation: cardOpen 0.25s forwards ease-in-out;
  outline: 1px solid transparent; // aliasing technique - https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome

  &:hover {
    transform: translateZ(0px);

    &::before, &::after {
      transform: rotateX(-3deg) translateZ(50px);
    }

    &::before {
      transform: translateX(-50px);
    }

    &::after {
      transform: translateX(50px);
    }
  }

  &::before, &::after {
    position: absolute;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    height: 50%;
    z-index: 2;
    transition: transform 0.5s ease-in-out;

  }

  &::before {
    left: -250px;
    bottom: -150px;
    background-image: url('public/assets/cloud1.webp');
    animation: cloudAnimation 5s infinite ease-in-out;
  }

  &::after {
    right: -250px;
    bottom: -150px;
    background-image: url('public/assets/cloud2.webp');
    animation: cloudAnimation 7s infinite 1s ease-in-out;
  }


  &-image {
    z-index: 1;
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    display: flex;
    align-items: center;


    &.animate {
      animation-name: tweenImage;
      animation-fill-mode: forwards;
      animation-duration: var(--timing);
      animation-timing-function: ease-in-out;
      animation-play-state: running;
    }

  }
}


.character {
  display: flex;
  color: white;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  margin-left: 2rem;
  z-index: 10;

  &.animate {
    .character-name, .character-desc {
      animation-name: fadeUp;
      animation-fill-mode: forwards;
      animation-duration: calc(var(--timing) / 2);
      animation-timing-function: ease-in-out;
      animation-play-state: running;
      animation-delay: calc(var(--timing) / 2);
    }
  }

  &-name {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;

  }

  &-desc {

    line-height: 1.5;
  }
}


.carousel {
  width: 320px;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  height: 320px;
  overflow: hidden;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;

  &::before {
    position: absolute;
    top: 0;
    right: -1px;
    width: 30px;
    height: 100%;
    background: linear-gradient(90deg, transparent 30%, #250909 70%);
    content: '';
    z-index: 1;
  }

  &-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.1s;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;


    button {
      border: 0;
      background: transparent;
      color: white;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: 0;
      }

      &:hover {
        .button-arrow {
          transform: scale(0.6);
        }
      }

      &:active {
        .button-arrow {
          transform: scale(0.45);
        }
      }

      .button-arrow {
        width: 100%;
        height: 100%;
        transform: scale(0.5);
        transform-origin: center;
        transition: all 0.15s ease-in-out;

        &:active {
          transform: scale(0.45);
        }
      }

      &:hover {

      }
    }

  }

  &-item {
    width: 94px;
    height: 168px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease-in-out;
    transition-delay: 0.2s;
    perspective: 1000px;
    filter: grayscale(0.8);

    &.active {
      width: 178px;
      height: 256px;
      filter: grayscale(0) drop-shadow(0 3px 10px hsla(0, 30%, 15%, 0.8));
      overflow: hidden;
      outline: 1px solid transparent;
    }

    img {
      transform-style: preserve-3d;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-top: -3px;
    }
  }
}


.dimmed {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: hsla(255, 40%, 50%, 0.4);
  filter: brightness(10%) contrast(70%);
  top: 0;
  left: 0;
  border-radius: var(--radius);
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: hsla(255, 40%, 50%, 0);
    filter: brightness(100%) contrast(100%);
  }
}

.flame {
  position: absolute;
  bottom: -30px;
  display: block;
  width: 6px;
  height: 15px;
  background: linear-gradient(180deg, #ff2929 0%, transparent 100%);
  border-radius: 6px;
  filter: blur(1px);
  transform: rotateX(180deg) translateX(-50px) scale(0.5);
  animation: flame;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#site-info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: hsl(0, 100%, 5%);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  &.active {
    display: flex;
  }

  p {
    line-height: 1.5;
    margin-bottom: 0.5rem;

  }

  a {
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #ff2929;;
    }
  }
}

#close {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: #ff2929;;
  }

}
